@import '../../../../App.scss';
.dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;

  &__button {
    padding: 3px;
    cursor: pointer;

    &:hover {
      border-radius: 3px;
      background-color: $white-text-color;
      color: $options-color;
    }
  }
}
