@import '../../../../App.scss';
.quick-nav {
  padding: 1px;
  font-size: 0.6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $options-text;

  &__button {
    padding: 3px;
    cursor: pointer;

    &:hover {
      border-radius: 3px;
      background-color: $options-hover-background;
      color: $options-hover-color;
    }
  }
}
