@import '../../App.scss';

.options {
  display: flex;

  color: inherit;
  text-align: left;

  height: 400px;

  margin: 0 5px 0 5px;
  z-index: 1000;
  overflow: hidden;
  color: #fff;

  background-color: $options-color;

  border-radius: 0px 0px 5px 5px;
  padding: 2px 25px;
  border-top: none;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;

    height: 470px;

    padding: 2px 15px;
  }
}
.calendar {
  display: flex;
  width: 100%;
  margin-right: 25px;

  @media screen and (max-width: 767px) {
    margin-right: 0px;

    width: inherit;

    height: 100%;
  }
}

.fader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  width: 100%;
  font-size: 0.8em;
  @media screen and (max-width: 767px) {
    font-size: inherit;
    padding-top: 25px;
  }
}
