@import '../../App.scss';
.sidebar {
  grid-area: s;
  overflow: hidden;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;

  @media screen and (max-width: 767px) {
    position: sticky;
    bottom: 0;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  @media (min-aspect-ratio: 25/38) and (max-width: 767px) {
    display: none;
  }
}

.logo {
  width: 56px;
  height: 56px;
  margin: 2px;
  @media screen and (max-width: 767px) {
    width: 44px;
    height: 44px;
    margin-left: 2px;
  }
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: row;
  }
}
