@import '../../../App.scss';

.check-list {
  display: flex;
  justify-content: center;
  height: 100%;
}
.check-list__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  margin: 0 5px 0 5px;
  text-align: center;

  font-size: 1.5em;
  color: $primary-color;
  @media screen and (max-width: 767px) {
    font-size: 1.2rem;
    margin: 0 15px 0 10px;
  }
}
.day-score {
  font-size: 0.8em;
}
.spinner {
  margin: 0 auto 0 auto;
  color: $primary-color !important;
}
