.app-wrapper {
  display: grid;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 350px;
  grid-template-areas:
    's h'
    's c';

  grid-template-rows: 40px 1fr;
  grid-template-columns: 60px 1fr;
  @media screen and (max-width: 767px) {
    grid-template-areas:
      'h'
      'c'
      's';
    grid-template-rows: 35px 1fr 44px;
    grid-template-columns: 1fr;
  }
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  @media screen and (max-width: 767px) {
    margin-right: auto;
    overflow-y: scroll;
  }
}
