.app-wrapper {
  display: grid;
  margin: 0 auto;
  height: 100vh;

  grid-template-areas:
    's h'
    's c';

  grid-template-rows: 30px 1fr;
  grid-template-columns: 60px 1fr;
}
.app-wrapper-content {
  grid-area: c;
}
@media screen and (max-width: 767px) {
  .app-wrapper {
    grid-template-areas:
      'h'
      's'
      'c';
    grid-template-rows: 25px 40px 1fr;
    grid-template-columns: 1fr;
  }
}
