.app-wrapper {
  display: grid;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 350px;
  grid-template-areas:
    's h'
    's c';

  grid-template-rows: 40px 1fr;
  grid-template-columns: 60px 1fr;
  @media screen and (max-width: 767px) {
    grid-template-areas:
      's'
      'h'
      'c';
    grid-template-rows: 44px 35px 1fr;
    grid-template-columns: 1fr;
  }
}
