@import '../../../App.scss';
.time {
  width: 100%;
  border-top: 1px solid $options-text;

  text-align: center;

  &__button {
    padding: 3px;
    cursor: pointer;

    &:hover {
      border-radius: 3px;
      background-color: $options-hover-background;
      color: $options-hover-color;
    }
  }
}
