@import '../../App.scss';

.task {
  display: flex;
  align-items: center;
}
.task__taskName {
  word-break: break-all;
  margin-left: 10px;
  margin-bottom: 4px;
}
.task__doneTaskName {
  word-break: break-all;
  margin-bottom: 4px;
}
.task__buttons {
  display: flex;
  align-items: center;
}
.task__buttons_left-margin {
  margin-left: 5px;
  @media screen and (max-width: 767px) {
    margin-left: 25px;
  }
}
