.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  width: 100%;
  font-size: 0.8em;
  @media screen and (max-width: 767px) {
    font-size: inherit;
    padding-top: 25px;
  }
}
