@import '../../../../App.scss';

.taskList__comment {
  color: $comment-color;
  font-size: 0.8em;
}
.list {
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
}
.taskName {
  margin-left: 10px;
  margin-bottom: 4px;
}
.doneTaskName {
  margin-bottom: 4px;
}
.buttons {
  display: flex;
  align-items: center;
}
.buttons-margin {
  margin-left: 5px;
}
