@import '../../App.scss';

.content {
  grid-area: c;
  background-color: #f8f9fa;
}
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.preloader__spinner {
  color: $primary-color;
  font-size: 50px;
  width: 100px !important;
  height: 100px !important;
}
