@import '../../App.scss';

.button {
  display: flex;
  padding: 0;
  color: inherit;
  background-color: inherit;
  @include focus;
  &:hover {
    color: $button-color-hover;
  }
}

.again-button {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  opacity: 0.8;
  cursor: pointer;
}
