@import '../../App.scss';

.button {
  display: flex;
  align-items: center;
  padding: 0;
  color: inherit;
  background-color: inherit;
  @include focus;

  &:hover {
    color: $button-color-hover;
  }

  &__label {
    cursor: pointer;

    font-size: 0.9em;
    margin-left: 0.3em;
  }
}

.again-button {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  opacity: 0.8;
  cursor: pointer;
}
