@import '../../App.scss';

.header {
  grid-area: h;
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagename {
  margin-left: 5px;
  font-size: 1.5rem;
  width: 300px;

  @media screen and (max-width: 767px) {
    font-size: 1.1rem;
    width: 130px;
  }
}

.usermenu {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: flex-end;
  @media screen and (max-width: 767px) {
    font-size: 0.9rem;
    width: 130px;
  }
}
.username {
  padding: 2px;
  border-radius: 3px;
  margin-right: 5px;
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: white;
    background-color: $button-color-hover;
  }
  @include focus;
}
.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    font-size: 0.9em;
  }
}

.clock__date {
  font-size: 0.8em;
  @media screen and (max-width: 350px) {
    display: none;
  }
}
.clock__time {
  font-weight: 500;
}
