@import '../../../../../App.scss';

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  // font-size: 1.5rem;
  color: $primary-color;
  // @media screen and (max-width: 767px) {
  //   font-size: 1rem;
  // }
}

.button {
  display: flex;
  // height: 24px;
  padding: 0;
  color: inherit;
  background-color: inherit;
  @include focus;
  &:hover {
    color: $button-color-hover;
  }
}
.task {
  display: flex;
  align-items: center;
}
.taskName {
  margin-bottom: 4px;
}
