@import '../../App.scss';

.paginator__name {
  color: $primary-color;
  &:hover {
    color: unset !important;
  }
}
.paginator__name_active {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  &:hover {
    color: white !important;
  }
}

.paginator__button {
  cursor: pointer;
}
