@import '../../App.scss';

.table {
  text-align: center;
}

.header {
  border-top: 1px solid $options-text;
  border-bottom: 1px solid $options-text;
}

.tbody {
  &:after {
    line-height: 0.1em;
    content: '\200C';
    display: table-row;
  }
  &:before {
    line-height: 0.1em;
    content: '\200C';
    display: table-row;
  }
}

.cell {
  font-size: large;

  cursor: pointer;
  &:hover {
    border-radius: 3px;
    background-color: $options-hover-background;
    color: $options-hover-color;
  }
}
