@import '../../../App.scss';

.navlink {
  box-sizing: content-box;
  background-color: $button-color !important;
  padding: 0 !important;
  width: 56px;
  margin: 3px 0 3px 0;
  @media screen and (max-width: 767px) {
    margin: 0 2px 0 2px !important;
    width: 40px;
    height: 40px;
    margin: 0;
  }

  &:focus,
  &:active {
    box-shadow: unset !important;
  }
  @include focus-important;

  &:hover {
    background-color: $button-color-hover !important;
    @media (pointer: coarse) {
      background-color: $button-color-selected !important;
    }
  }
}
.navlink_selected {
  background-color: $button-color-selected !important;
}
.navlink__button-icon {
  margin: auto;
  height: 100%;
  font-size: 50px;
  color: $nav-icon-color;
  line-height: 0;
  opacity: 0.8;
  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
}
