$primary-color: #354052;
$secondary-color: #445269;

$header-color: #fff;

$content-color: #f8f9fa;
$comment-color: #6c757d;

//Buttons
$button-color: #6c757d;
$button-color-hover: #5c636a;
$button-color-selected: #a0aeba;

//Options
// $options-color: #6c757d;
$options-color: rgba(108, 117, 125, 0.3);
$options-text: #262c3b;
$options-hover-background: $options-text;
$options-hover-color: $content-color;
$options-selected-color: $content-color;

//Text
$text-color: #000000;
$white-text-color: #fff;
$nav-icon-color: #fff;

//Background
// $background-color: #3540522c;
$background-color: #35405210;
$background-image: url('/assets/images/background.jpg');

//Range
$range-button: $options-text;
$range-background: $content-color;
$range-focus-background: #6c757d;

//Priority range
$express-color: #9c2716;
$regular-color: #354052;
$important-color: #8fad39;
$range-label-alt-color: $range-background;

//Other
$A-color: #97b6e8;
$B-color: #9fc0f5;
$C-color: #86a2cf;

body {
  font-family: 'GothamPro', sans-serif;
}
@mixin focus {
  border: none;
  outline: none;
  &:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  }
}
@mixin focus-important {
  &:focus-visible {
    border-color: rgba(130, 138, 145, 0.5) !important;
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5) !important;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
h1 {
  font-family: 'GothamPro-Bold';
}
h2 {
  font-family: 'GothamPro-Medium';
}
