$primary-color: #354052;
$secondary-color: #445269;
$header-color: #fff;
$button-color: #6c757d;
$button-color-hover: #5c636a;
$button-color-selected: #a0aeba;
$content-color: #f8f9fa;
$comment-color: #6c757d;
$A-color: #97b6e8;
$B-color: #9fc0f5;
$C-color: #86a2cf;
$text-color: #000000;
$nav-icon-color: #fff;
// $background-color: #3540522c;
$background-color: #35405210;

@mixin focus {
  border: none;
  outline: none;
  &:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  }
}
@mixin focus-important {
  &:focus-visible {
    border-color: rgba(130, 138, 145, 0.5) !important;
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5) !important;
  }
}
