@import '../../App.scss';

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: inherit;
  text-align: left;
  z-index: 2000;
  background-color: $content-color;

  @media screen and (max-width: 767px) {
    padding-right: 15px !important;
    padding-left: 10px !important;
  }
}
.content_border {
  box-shadow: 1px 1px 5px $secondary-color;
  border-radius: 5px;
  padding: 2px 6px;
}
