@import '../../../App.scss';
.wrapper {
  height: 100%;
}
.days-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-between;
  grid-gap: 5px;
  padding: 0 15px;
}
.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.spinner {
  color: $primary-color !important;
}
